.checkbox-tree {
    border-radius: 4px;
    background-color: white;
    padding: 10px;

    .parent-row {

        .arrow {
            &::before {
                content: "\25B8";
            }

            &.expanded::before {
                content: "\25BE";
            }
        }


        ul {
            list-style-type: none;
            margin: 0;
            padding-left: 1em;

            li {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }
    }
}
