.checkbox-tree {
    border-radius: 4px;
    background-color: white;
    padding: 10px;
    overflow-y: scroll;

    .parent-row {

        .arrow {
            display: inline-block;
            padding-right: 0.5em;
            font-size: 16px;
        }

        .arrow::before {
            content: "\25B8";
        }
        
        &.expanded .arrow::before {
            content: "\25BE";
        }

        &.no-children .arrow::before {
            color: rgba(0, 0, 0, 0);
        }

        ul {
            list-style-type: none;
            padding-left: 1.8em;
            max-height: 0;
            overflow: hidden;
            margin: 0;
            
            li {
                padding-top: 0.25em;
                padding-bottom: 0.25em;
            }
        }

        &.expanded ul {
            max-height: 200px;
        }
    }
}
