.checkbox-tree {
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
}
.checkbox-tree .parent-row .arrow {
  display: inline-block;
  width: 0.75em;
}
.checkbox-tree .parent-row .arrow::before {
  content: "\25B8";
}
.checkbox-tree .parent-row.expanded .arrow::before {
  content: "\25BE";
}
.checkbox-tree .parent-row.no-children .arrow::before {
  color: rgba(0, 0, 0, 0);
}
.checkbox-tree .parent-row ul {
  list-style-type: none;
  padding-left: 1em;
  max-height: 0;
  overflow: hidden;
  margin: 0;
}
.checkbox-tree .parent-row ul li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.checkbox-tree .parent-row.expanded ul {
  max-height: 200px;
}
