.checkbox-tree {
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
}
.checkbox-tree .parent-row .arrow {
  display: inline-block;
  padding-right: 0.5em;
  font-size: 16px;
}
.checkbox-tree .parent-row .arrow::before {
  content: "\25B8";
}
.checkbox-tree .parent-row.expanded .arrow::before {
  content: "\25BE";
}
.checkbox-tree .parent-row.no-children .arrow::before {
  color: rgba(0, 0, 0, 0);
}
.checkbox-tree .parent-row ul {
  list-style-type: none;
  padding-left: 1.8em;
  overflow: hidden;
  height: 0;
  margin: 0;
}
.checkbox-tree .parent-row ul li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.checkbox-tree .parent-row.expanded ul {
  height: auto;
}
